<style>
.maincontainer{
    width: 100%;
    height: 100vh;
    
}

.navbox{
    width: 100%;
    height: 8vh;
    background: #af4154;
    display: flex;
}

</style>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


</head>

<html>

<div class="maincontainer">
    
    <div class="navbox">
        <div style="width: 40px; padding: 10px; align-self: center;"><img src="https://icon-library.com/images/book-icon-transparent/book-icon-transparent-11.jpg" style="width:50px;"></div>
        <div style="color: white; align-self: center; font-size: 16px; font-family: Open Sans; padding: 10px; letter-spacing: 1px;">Ultimate Shopee</div>

        <div style="width: 67%; display: flex; align-items: center; justify-content: center;">
            <a href="/books/bookinterface" target="mw" style="text-decoration: none; color: white; align-self: center; font-size: 14px; font-family: Open Sans; font-weight: 600; letter-spacing: 1px; margin: 5%; ">Add Books</a>
            <a href="/books/fetch_all_books" target="mw" style="text-decoration: none; color: white; align-self: center; font-size: 14px; font-weight: 600; font-family: Open Sans; letter-spacing: 1px; margin: 5%; ">Book List</a>
            
        </div>

        <div style="display: flex; align-items: center;">
            <a href="/admin/logout" target="_blank" style="text-decoration: none; color: white; font-size: 14px; font-family: Open Sans; font-weight: 600; letter-spacing: 1px; margin: 9px; ">Logout</a>
        </div>

        <div style="width: 10%; display: flex; justify-content: center; align-self: center; color: white; font-size: 14px; font-weight: 600; font-family: Open Sans; letter-spacing: 1px;" >
            <%= admin.adminname %>       
        </div>

        <div style=" display: flex; justify-content: center; align-self: center;">
            <img src="/images/<%= admin.picture %>" style="width: 31px; border-radius: 15px;"/>
        </div>
    </div>

    <div>
        <iframe width="100%" height="91%" frameborder="0" name="mw"></iframe>
    </div>

</div>

</html>